<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>


<% post = Post.all %>
<ul>
	<% post.each do |x| %>


		<li><%= link_to "#{x.activity_type}", post_path(x) %></li>


	<% end %>
</ul>

