<!-- showing current user's invitation to others and from others -->
<h1>Current Invitation from/to users</h1>

<body>

<h2>User Profile</h2>

<ul class="side-navbar">

  <li><%= link_to "Your Listing", post_listing_path %></li>
  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
  <li><%= link_to "Request", invitations_path %></li>

</ul>

</body>