// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: "Lato",sans-serif;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 50px; 
}

//video container
.video_container {
 position: relative;
 background:none;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 text-align: center;
 color: #fff;
 margin-top: 0px;
 padding-top: 50px;
 min-height: 700px;
 width: 100%;
 letter-spacing: 6px;
 transition:all .4s;
 background-image: 
   linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), 
}

.layer {
    background-color: rgba(175, 218, 41, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_container h1 span{
	 font-size: 50px;
	 font-weight: 100;
	 color: #fff ;
	 padding-bottom: 12px;
	 line-height: 1.5;
	 z-index: 9990;
	 overflow: hidden;
}

.photo {
 position: absolute;
 object-fit: contain;
 z-index: -5;
 bottom: 0px;
 left: 0px;
 width: 100%;

}


.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;

}

.title-container{
  margin: 10em;
  border-width: 4px;
  border-style: solid;
  border-color: white;
  padding: 100px;
}


/* Hidden placeholder */
select option[disabled]:first-child {
	display: none;
}


.form-control {
	padding: 10px 16px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	font-weight: 300;
	letter-spacing: 4px;
}

//social icon

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  padding: 0;
  left: 10px;
  position: absolute;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 30px;
  height: 28px;
	color: #000;
	background-color: rgba(255, 255, 255, 0.62);
	border: 1px solid #000;
	padding-top: 7px;
	padding-left: 6px;
	border-radius: 30px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #FFF;
	background-color: #000;
	border: 1px solid #000;
}

