// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-index-background{
	background-color: #A6F0FA;
	background-size: cover;
}

.posts-page.col-md-4.filter-box { 
	height: 500px;
	width: 30%;
	float:left;
	border-color:black; 
	border-width:4px;
	border-style: solid;
	overflow: scroll;
	.form-control {
	    width: 100%;
	}
	.box_label {
	text-align:left;
	}
}

.posts-page.col-md-8 {
		height: 100vh;
	  width: 70%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  background: #49DDF2;
	  font-family: Open Sans;
	  justify-content: space-around;
	  flex-wrap: wrap;
	  overflow: auto;
	  i{
	  	position:absolute; 
		  width:100%;
		  height:100%;
		  top:0;
		  left: 0;
		  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
 		 background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/59/Empty.png');
	  }
}

.photo-row {
	height: 30%;
}

.profile-thumbnail {
	height: 80px;
	width:80px;
	border: 2px solid lightgrey;
  border-radius: 60px;
}

.button-request input{ 
	border-width:4px;
	border-style: solid;
	top: 0;
	margin:0;
	border-radius: 6px;
}

//card container

.card-container{
  perspective: 1000px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.card{
  position: relative;
  width: 200px;
  height: 250px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
  display: flex;
}

.front,.back{
  position: absolute;
  background: #FFA14A;
  top: 0;
  left: 0;
  bottom:0;
  width: 200px;
  height: 250px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
}

.front{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300px;
  padding: 10px;
}

.location-row{
	width: 100%;
	top:0;
	position: absolute;
	background-color: #FFD2A8;
	border-radius: 5px 5px 0px 0px;
	font-size: 14px;
	color: brown;
	padding-left: 5px;
	padding-right: 5px;
}

.back{
  //display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  flex-direction: column;
}

#profile-row-name{
	color: black;
}

#profile-row-activity{
	color: lightgreen;
}

.card-container:hover .card{
  transform: rotateY(180deg);
}

.back{
  transform: rotateY(180deg);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 100px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

