.main-profile{
  background-size: cover;
  //background-color: #F5FEE6;
}

.dashboard {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  background-color: #55B6A0;
  color: White;
  padding: 5px 20px;
  vertical-align: middle;

  span{
    width: 40%;
    float: left;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: 700;
  }
}

#dashboard-current-user{
  text-align: right;
  right: 0;
  margin: 0;
  float: right;
  font-weight: normal;
  font-size: 14px;
}

ul.side-navbar {
    list-style-type: none;
    padding: 0px;
    width: 40px;
    background-color: darken(SALMON, 5%);
}

.side-navbar {
  position: fixed;
  background-color: TOMATO;
  top:30%;
}

//
.side-navbar li {
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 50px;
  padding-left: 0;
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: WHITE;
  letter-spacing: 2px;
  background-color: darken(PEACHPUFF, 2%);
}

.side-navbar a {
  text-decoration: none;
  color: WHITE;
  display: inline-block;
  width: 140px;
  height: 35px;
  padding-top: 15px;
  a:hover{
    text-decoration: none;
  }
}

.side-navbar li:hover {
  background-color: darken(PEACHPUFF, 8%);
  text-decoration: none;
}

.side-navbar a:hover {
  text-decoration: none;
}

.side-navbar .active {
  background-color: SALMON;
}

.side-navbar .active:hover {
  background-color: darken(SALMON, 5%);
}
//
.profile-container {
  margin-left: 200px;
  margin-right: 50px;
  text-align: left;
}
.profile-container h1  {
  font-family: 'Raleway', Arial, sans-serif;
  margin-bottom: 20px;
  text-align: left;
}


.edit_user {
    text-align: left;
    margin-left: 0px;
    input{
        width:220px;
        margin-bottom: 20px;
        padding: 5px;
    }
}

.create-new-post.container{
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;
  white-space: normal;
    input{
      width:50%;
      font-size: 12px;
    }
    textarea{
    width: 600px;
      #description-box{
        height: 100px;
      }
    }
    .actions input{
      width:600px;
    }
}
