<%= form_for @review do |f| %>

  <div class="form-group">
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <%= f.hidden_field :poster_id, value: @user.id %>


  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

